// There is a path to Startup framework
@startup-basePath: "../../../";

@import '@{startup-basePath}flat-ui/less/variables.less';
@import '@{startup-basePath}flat-ui/less/mixins.less';

@import '@{startup-basePath}common-files/less/mixins.less';
@import '@{startup-basePath}common-files/less/common.less';
@import '@{startup-basePath}common-files/less/navbar.less';
@import '@{startup-basePath}common-files/less/helper.less';

/* header */
@import '@{startup-basePath}ui-kit/ui-kit-header/less/header-11.less';

/* price */
@import '@{startup-basePath}ui-kit/ui-kit-price/less/price-common.less';
@import '@{startup-basePath}ui-kit/ui-kit-price/less/price-1.less';

/* content */
@import '@{startup-basePath}ui-kit/ui-kit-content/less/content-13.less';

/* footer */
@import '@{startup-basePath}ui-kit/ui-kit-footer/less/footer-2.less';

header .brand {
    //font-family: "felt-tip-woman" !important;
    font-size: 2em !important;
    color: rgb(51, 51, 51) !important;
}

.header-11 .navbar .nav > li > a {
    color: #16a085;
    &:hover {
        color: darken(#16a085, 50);
    }
}

.header-11-sub .background {
    background-image: url("../img/page-tpl-hero-bg.jpg");
    .opacity(80);
    @media (max-width: 767px) {
        background: #333333;
        .opacity(100);
    }
}

.header-11-sub {
    h3 {
        font-family: "felt-tip-woman";
        font-size: 2.5em;
        color:#eeeeee;
        line-height: 1em;
    }
    p {
        color:#eeeeee;
    }
    .additional-links {
        color:#7f8c8d;
        a {
            color:#697172;
        }
    }
    .logo {
        margin-bottom: 2em;
    }
}

/* Participants logos. */
.logos {
    background: #f1f1f1;
    padding-top: 40px;
    padding-bottom: 40px;
    @media (max-width: 767px) {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    > .container {
        display: table;
        > div {
            display: table-cell;
            text-align: center;
            padding: 1.5em;
        }
    }
    @media (max-width: 480px) {
        display: none;
    }
}

/* Participants colours. */
.node-org-dawoods-meat-main {
    background: #ff9b2a;
}
.node-org-zinetti-foods-main {
    background: #d84134;
}
.node-org-global-gourmet-foods-main {
    background: #666;
}
.node-org-hills-foods-main {
    background: #666;
}
.node-org-arbutus-ridge-farms-main {
    background: #ffbd50;
}
.node-org-driediger-farms-main {
    background: #666;
}
.node-org-greenhouse-delight-foods-main {
    background: #666;
}
.node-org-kaslo-sourdough-pasta-main {
    background: #f8eb26;
}
.node-org-gourmet-savories-main {
    background: #666;
}
.node-org-tamarac-fresh-cut-foods-main {
    background: #666;
}

/* Buttons. */
.btn-color-black {
    color: rgb(255, 255, 255);
    background-color: rgb(102, 102, 102);
    &:hover { background-color: rgb(51, 51, 51); }
}
.btn-cta-1 {
    color: rgb(255, 255, 255);
    background-color: #16a085;
    &:hover { background-color: darken(#16a085, 10); }
}

/* Contest. */
.price-1 {
    padding: 40px 0 40px 0;
    h3 {
        margin: 0 0 8px;
        font-size: 35px;
        //text-align: center;
        //letter-spacing: -1px;
    }
    .lead {
        font-size: 25px;
        font-family: @font-family-demo;
        text-align: center;
        margin-bottom: 55px;
    }
}
.contest.cta {
    padding: 20px 0 60px 0;
    .btn {
        font-size: 2rem;
        text-transform: uppercase;
    }
}

.org-about .row .col-sm-8 img:first-child {
    float: right;
    margin: 0 0 1.5rem 1.5rem;
}



/* Player. */
.header-11-sub .player {
    height: 440px;
    background: rgb(255, 255, 255);
}

/* About us (main). */
.content-13 {
    padding: 40px 0 40px 0;
    h3 { margin-bottom: 0.75em; color: rgb(0, 0, 0); }
    p {
        color: rgb(0, 0, 0);
    }
}

/* Funding. */
section.funding, section.postscript.participants {
    border-top: 1px solid #2c3e50;
}

/* Override 'thumbnail' CSS rules. */
.thumbnail {
    background-color: transparent;
    border: none;
}


.non-breaking {
    display: inline-block;
}

.block-bbcf {
    //border-left: 1px solid #666;
}

.product-qualities {
    margin: 1em inherit 1em inherit;
    font-size: 2rem;
    li {
        margin: 0.75em 0 0.75em 0;
        color: #1ABC9C;
        padding: 0.375em 0 0 0;
        i { font-size: 1.5em; }
    }
}

.hero .btn-cta-1 {
    margin: 1.5rem 0 1.5rem 0;
}