        <meta charset="utf-8">
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />
        <link rel="shortcut icon" href="/flat-ui/images/favicon.ico">
        <link rel="stylesheet" href="/flat-ui/bootstrap/css/bootstrap.css">
        <link rel="stylesheet" href="/flat-ui/css/flat-ui.css">
        <!-- Using only with Flat-UI (free)-->
        <link rel="stylesheet" href="/common-files/css/icon-font.css">
        <!-- end -->
        <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
        <link rel="stylesheet" href="/themes/bnh/css/style.css">
        <script type="text/javascript" src="//use.typekit.net/wzw2uko.js"></script>
        <script type="text/javascript">try{Typekit.load();}catch(e){}</script>