            <!-- logos -->
            <section class="logos funding">
                <div class="container text-center">
                    <p>Lartus acioc, nimolic aventio nsulius ne tured pervitemus, nem ubis Catanductam facii side viverios Maessimus hortes parbissolus stem in terati, vasdam nos sil hosulto remniri, noris peconverfex me auctena nondam.</p>
                </div>
                <div class="container text-center">
                    <div><h4>Funding provided by:</h4></div>
                </div>
                <div class="row">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-2"><a href="http://www.agf.gov.bc.ca/apf/GF2/GF2.html" target="_blank" class="thumbnail"><img src="/files/organizations/logos/gf2-logo.png" alt=""></a></div>
                    <div class="col-sm-2"><a href="http://www.bcfpa.ca/" target="_blank" class="thumbnail"><img src="/files/organizations/logos/bcfpa-logo.png" alt=""></a></div>
                    <div class="col-sm-2"><a href="http://www.iafbc.ca/" target="_blank" class="thumbnail"><img src="/files/organizations/logos/iaf-logo.png" alt=""></a></div>
                    <div class="col-sm-2"><a href="http://www.gov.bc.ca/" target="_blank" class="thumbnail"><img src="/files/organizations/logos/british-columbia-logo.png" alt=""></a></div>
                    <div class="col-sm-2"><a href="http://www.canada.ca/" target="_blank" class="thumbnail"><img src="/files/organizations/logos/canada-logo.png" alt=""></a></div>
                    <div class="col-sm-1"></div>
                </div>
            </section>