            <!-- logos -->
            <section class="logos funding">
                <div class="container text-center">
                    <p>Agriculture and Agri-Food Canada (AAFC) and the BC Ministry of Agriculture are committed to working with industry partners. Opinions expressed in this document are those of the participant and not necessarily those of AAFC, the Ministry of Agriculture or the Investment Agriculture Foundation.</p>
                </div>

                <div class="row">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-2">
                        <div class="row">
                            <div class="col-sm-12 text-center">
                                <div><h4>Delivered by:</h4></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12"><a href="http://www.iafbc.ca/" target="_blank" class="thumbnail"><img src="/files/organizations/logos/iaf-logo.png" alt=""></a></div>
                        </div>
                    </div>

                    <div class="col-sm-8">
                        <div class="row">
                            <div class="col-sm-12 text-center">
                                <div><h4>Funding provided by:</h4></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3"><a href="http://www.agf.gov.bc.ca/apf/GF2/GF2.html" target="_blank" class="thumbnail"><img src="/files/organizations/logos/gf2-logo.png" alt=""></a></div>
                            <div class="col-sm-3"><a href="http://www.bcfpa.ca/" target="_blank" class="thumbnail"><img src="/files/organizations/logos/bcfpa-logo.png" alt=""></a></div>
                            <div class="col-sm-3"><a href="http://www.gov.bc.ca/" target="_blank" class="thumbnail"><img src="/files/organizations/logos/british-columbia-logo.png" alt=""></a></div>
                            <div class="col-sm-3"><a href="http://www.canada.ca/" target="_blank" class="thumbnail"><img src="/files/organizations/logos/canada-logo.png" alt=""></a></div>
                        </div>
                    </div>
                    <div class="col-sm-1"></div>

                </div>
            </section>



            <!-- logos -->
            <section class="logos funding">
                <div class="container text-center">
                    <p>Agriculture and Agri-Food Canada (AAFC) and the BC Ministry of Agriculture are committed to working with industry partners. Opinions expressed in this document are those of the participant and not necessarily those of AAFC, the Ministry of Agriculture or the Investment Agriculture Foundation.</p>
                </div>
                <div class="container text-center">
                    <div><h4>Delivered by:</h4></div>
                </div>
                <div class="row">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-8"><a href="http://www.iafbc.ca/" target="_blank" class="thumbnail"><img src="/files/organizations/logos/iaf-logo.png" alt=""></a></div>
                    <div class="col-sm-2"></div>
                </div>

                <div class="container text-center">
                    <div><h4>Funding provided by:</h4></div>
                </div>
                <div class="row">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-2"><a href="http://www.agf.gov.bc.ca/apf/GF2/GF2.html" target="_blank" class="thumbnail"><img src="/files/organizations/logos/gf2-logo.png" alt=""></a></div>
                    <div class="col-sm-2"><a href="http://www.bcfpa.ca/" target="_blank" class="thumbnail"><img src="/files/organizations/logos/bcfpa-logo.png" alt=""></a></div>
                    <div class="col-sm-2"><a href="http://www.gov.bc.ca/" target="_blank" class="thumbnail"><img src="/files/organizations/logos/british-columbia-logo.png" alt=""></a></div>
                    <div class="col-sm-2"><a href="http://www.canada.ca/" target="_blank" class="thumbnail"><img src="/files/organizations/logos/canada-logo.png" alt=""></a></div>
                    <div class="col-sm-2"></div>
                </div>
            </section>

