            <!-- logos -->
            <section class="logos participants postscript">
                <div class="container">
                    <div><h4>Bring Nutrition Home participants:</h4></div>
                </div>
                <div class="row">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-2"><a href="/dawoods-meat" class="thumbnail"><img src="/files/organizations/logos/dawoods-meat-logo.png" alt="Dawood's Meat Co."></a></div>
                    <div class="col-sm-2"><a href="/greenhouse-delight-foods" class="thumbnail"><img src="/files/organizations/logos/greenhouse-delight-foods-logo.png" alt="Greenhouse Delight Foods"></a></div>
                    <div class="col-sm-2"><a href="/kaslo-sourdough-pasta" class="thumbnail"><img src="/files/organizations/logos/kaslo-sourdough-pasta-logo.png" alt="Kaslo Sourdough Pasta"></a></div>
                    <div class="col-sm-2"><a href="/hills-foods" class="thumbnail"><img src="/files/organizations/logos/hills-foods-logo.png" alt="Hills Foods Ltd."></a></div>
                    <div class="col-sm-2"><a href="/arbutus-ridge-farms" class="thumbnail"><img src="/files/organizations/logos/arbutus-ridge-farms-logo.png" alt="Arbutus Ridge Farms"></a></div>
                    <div class="col-sm-1"></div>
                </div>
                <div class="row">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-2"><a href="/driediger-farms" class="thumbnail"><img src="/files/organizations/logos/driediger-farms-logo.png" alt="Driediger Farms"></a></div>
                    <div class="col-sm-2"><a href="/zinetti-foods" class="thumbnail"><img src="/files/organizations/logos/zinetti-foods-logo.png" alt="Zinetti Foods"></a></div>
                    <div class="col-sm-2"><a href="/global-gourmet-foods" class="thumbnail"><img src="/files/organizations/logos/global-gourmet-foods-logo.png" alt="Global Gourmet Foods"></a></div>
                    <div class="col-sm-2"><a href="/gourmet-savories" class="thumbnail"><img src="/files/organizations/logos/gourmet-savories-logo.png" alt="Gourmet Savories"></a></div>
                    <div class="col-sm-2"><a href="/tamarac-fresh-cut-foods" class="thumbnail"><img src="/files/organizations/logos/tamarac-fresh-cut-foods-logo.png" alt="Tamarac Fresh Cut Foods"></a></div>
                    <div class="col-sm-1"></div>
                </div>
            </section>